<div class="container">
    <!-- search box to find possible combinations -->
    <form [formGroup]='searchForm'>
        <div class="input__container">
            <input [(ngModel)]="input" [formControl]="searchForm.get('input')" (keydown)="onKey($event)" class="input"
                type="text" placeholder="Enter valid number here" />
            <button class="btn" (click)="fetchPossibleCombinations()">Search</button>
        </div>
        <p *ngIf="
            searchForm.get('input').touched &&
            searchForm.get('input').hasError('required')
        " class="error_label" on>Input number should not be empty</p>
        <p *ngIf="input && input.toString().length !== 7 && input.toString().length !== 10" class="error_label">Input
            number length should be 7 or 10 only</p>
    </form>

    <!-- table to display possible combinations -->
    <div id="displaytable" align='center'>
        <h2>Total Count of Combinations: {{ totalItem }}</h2>
        <table id="combinations">
            <tr>
                <th>
                    <h2>Possible Combinations</h2>
                </th>
            </tr>
            <!-- shows loading until data is fetched from endpoint -->
            <tr *ngIf="data && data.length === 0" align='center'>
                <td>
                    <h2>Loading...</h2>
                </td>
            </tr>
            <!-- loops on data and display number one by one in each row -->
            <div *ngIf="data && data.length >=7" class="scroll">
                <tr *ngFor="let item of chunk">
                    <td>
                        <h2>{{ item }}</h2>
                    </td>
                </tr>
            </div>
        </table>
    </div>
    <!-- handles pagination -->
    <div *ngIf="data.length > 1" class="pagination__container">
        <label>No of item per page &nbsp; </label>
        <!-- dropdown to select number of items to be shown on a single page -->
        <select (change)="onPerPageChange(+$event.target.value)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option selected value="25">25</option>
        </select>
        <span class="page__label"> {{(page - 1) * perPage + 1}} - {{((page - 1) * perPage) + perPage}} of
            {{ totalItem }}</span>
        <a class="ic_btn" (click)="previous()">
            <img src="assets/icons/left-arrow.svg" alt="Previous">
        </a>
        <a class="ic_btn" (click)="next()">
            <img src="assets/icons/right-arrow.svg" alt="Next">
        </a>
        <p>
            Page - {{page}} |
        </p>
        &nbsp; &nbsp;
        <p>
            Total Combinations -
            {{totalItem}}
        </p>
    </div>

</div>